.v-login {
	@include size;
	@include flex;

	&-left {
		@include size(0, 100%);

		position: relative;
		flex: 1;
		background-color: var(--white-login-left-bg-color);

		&::after {
			position: absolute;
			top: 0;
			right: -100px;
			background: var(--white-login-left-divide-img);
			content: '';
			@include size(100px, 100%);
		}
	}

	&-right {
		@include size(0, 100%);
		@include flex(row, center, center);

		flex: 1;

		&-main {
			@include size(500px, 500px);

			position: relative;
			padding: 4px;
			overflow: hidden;
			border-radius: 10px;

			&-login {
				position: relative;
				z-index: 2;
				background-color: var(--common-primary-color);
				border-radius: 10px;

				@include flex(column);
				@include size;

				&-title {
					@include size(100%, 120px);

					font-size: 27px;
					line-height: 120px;
					text-align: center;
				}

				&-wrap {
					@include size(100%, 0);

					flex: 1;
					padding: 0 80px;
				}
			}
		}
	}
}
