// 省略号
@mixin ellipsis() {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

// 自定义行数省略号
@mixin multiellipsis($line) {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
}

// 宽高
@mixin size($width: 100%, $height: 100%) {
	width: $width;
	height: $height;
}

// flex 布局
@mixin flex($row: row, $justify-content: flex-start, $align-items: flex-start, $wrap: nowrap) {
	display: flex;
	flex-flow: $row $wrap;
	align-items: $align-items;
	justify-content: $justify-content;
}
